@import "tailwindcss";

@theme {
  --color-bg: #121212;
  --color-text-primary: #e0e0e0;
  --color-text-secondary: #b0b0b0;
  --color-dark-grey: #444444;
  --color-btn-blue: #1e88e5;

  --font-inter: "Inter", sans-serif;
}

/* Global styles */
:root {
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  font-family: var(--font-inter);
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  padding: 0 2.5%;
  flex: 1;
}


input[type="search"]::-webkit-search-cancel-button {
  filter: brightness(0) invert(1);
  opacity: 0.8;
}

